In [1]:
import pandas as pd
import numpy as np

In [7]:
PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\16th_2021.xlsx'
PATH_COMPLETE = 'D:\\Run Analysis\\BLOB_STORAGE\\driver_timesheet_rec\\Roster_rec\\16th_2021.csv'
df = pd.read_excel(PATH)
df.head(1)

,Date,Run_type,Primary_employeeID,Secondary_employeeID,Primary_driver_Name,Secondary_Driver_Name,Primary_route,Satellite_Route_1,Satellite_Route_2,Primary_truck,Alternative_Truck,Subcontracted_From/Special_Client
0,2021-04-22,NIGHT RUNS,swaklado,NaN,ADONIS AKL,NaN,RLE,NaN,NaN,CL 98 LU,NaN,NaN

In [ ]:
df.groupby([])

In [8]:
df[['Date', 'Primary_driver_Name', 'Primary_truck','Alternative_Truck']].to_csv(PATH_COMPLETE, index=False)