In [4]:
import pandas as pd
import numpy as np

In [5]:
PATH = 'D:\\Run Analysis\\BLOB_STORAGE\\expenses_truck\\all_other_mv_expense\\processed\\15th_2021.xlsx'   
df_mvExp = pd.read_excel(PATH)
PATH_1 = 'D:\Run Analysis\\BLOB_STORAGE\\Roster\\weekly_roster_processed\\15th_2021.xlsx'
df_ros = pd.read_excel(PATH)

NameError: name 'df_ros' is not defined

In [6]:
df_mvExp

,Unnamed: 0,catID,Job No.,Debit,Primary_truck,Primary_route,ratio,amount_portion
0,0,CB,VMU428,199.00,NaN,NaN,NaN,NaN
1,1,CB,XN13KR,24.24,XN13KR,RLI,1.000000,24.240000
2,2,CC,CL02TB,646.72,CL02TB,RL2,0.047619,30.796190
3,3,CC,CL02TB,646.72,CL02TB,RLD,0.880952,569.729524
4,4,CC,CL02TB,646.72,CL02TB,RLE,0.047619,30.796190
5,5,CC,CL02TB,646.72,CL02TB,RLJ,0.023810,15.398095
6,6,CC,CV57SC,1909.09,NaN,NaN,NaN,NaN
7,7,CC,FLEET,150.00,NaN,NaN,NaN,NaN
8,8,CC,XN62UD,1437.92,XN62UD,RL6,0.483871,695.767742
9,9,CC,XN62UD,1437.92,XN62UD,RL8,0.516129,742.152258
10,10,CC,XN71FD,122.28,XN71FD,RLK,1.000000,122.280000
11,11,CC,XN76VB,255.67,XN76VB,CAMP,0.102564,26.222564
12,12,CC,XN76VB,255.67,XN76VB,CMD,0.025641,6.555641
13,13,CC,XN76VB,255.67,XN76VB,UNI,0.128205,32.778205
14,14,CC,XN76VB,255.67,XN76VB,UOS,0.692308,177.002308
15,15,CC,XN76VB,255.67,XN76VB,UOSGW,0.051282,13.111282
16,16,CC,XN97FC,64.26,XN97FC,HYG,0.030303,1.947273
17,17,CC,XN97FC,64.26,XN97FC,RED,0.333333,21.420000
18,18,CC,XN97FC,64.26,XN97FC,RL2,0.030303,1.947273
19,19,CC,XN97FC,64.26,XN97FC,RL6,0.030303,1.947273
20,20,CC,XN97FC,64.26,XN97FC,RLC,0.515152,33.103636
21,21,CC,XN97FC,64.26,XN97FC,RLP,0.060606,3.894545
22,22,LABOUR,CL98LU,240.00,CL98LU,RL1,0.192308,46.153846
23,23,LABOUR,CL98LU,240.00,CL98LU,RLD,0.096154,23.076923
24,24,LABOUR,CL98LU,240.00,CL98LU,RLE,0.653846,156.923077
25,25,LABOUR,CL98LU,240.00,CL98LU,RLJ,0.038462,9.230769
26,26,LABOUR,CL98LU,240.00,CL98LU,RLP,0.019231,4.615385
27,27,LABOUR,FLEET,6545.00,NaN,NaN,NaN,NaN
28,28,LABOUR,XN13KR,120.00,XN13KR,RLI,1.000000,120.000000
29,29,REGO,DA59TU,1032.00,NaN,NaN,NaN,NaN
30,30,TYRES,BL82AG,240.00,BL82AG,CAMDEN,0.016949,4.067797
31,31,TYRES,BL82AG,240.00,BL82AG,CMD,0.016949,4.067797
32,32,TYRES,BL82AG,240.00,BL82AG,DOY,0.016949,4.067797
33,33,TYRES,BL82AG,240.00,BL82AG,RL2,0.016949,4.067797
34,34,TYRES,BL82AG,240.00,BL82AG,RL6,0.016949,4.067797
35,35,TYRES,BL82AG,240.00,BL82AG,RL9,0.644068,154.576271
36,36,TYRES,BL82AG,240.00,BL82AG,RLG,0.016949,4.067797
37,37,TYRES,BL82AG,240.00,BL82AG,UOS,0.101695,24.406780
38,38,TYRES,BL82AG,240.00,BL82AG,UOS,0.033898,8.135593
39,39,TYRES,BL82AG,240.00,BL82AG,UOS CAMDEN,0.050847,12.203390
40,40,TYRES,BL82AG,240.00,BL82AG,UOSCB,0.067797,16.271186
41,41,TYRES,XN52IJ,180.00,XN52IJ,FL2,0.750000,135.000000
42,42,TYRES,XN52IJ,180.00,XN52IJ,FLG,0.159091,28.636364
43,43,TYRES,XN52IJ,180.00,XN52IJ,FLG/EXTRA,0.090909,16.363636

In [3]:
df_ros

NameError: name 'df_ros' is not defined